/* .display-timer{
   
} */

.timer-flex {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;     */
    font-size: 26px;
    color: #97afd5;
}

.timer-flex div {
    /* margin-right: -70px; */
}

.timer-num-two-heading {
    height: 80px;
    font-size: 26px;
    color: #97afd5;
    margin-bottom: -22px;
    /* font-weight: ; */
}

.timer-flex div span {
    display: block;
    color: #97afd5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-flex div .timer-num-two-heading {
    display: block;
    color: #97afd5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-text {
    font-weight: 400;
    font-size: 19px;
    color: grey;
}

.timer-num {
    height: 80px;
    color: #97afd5;
    margin-bottom: -22px;
    /* font-weight: ; */
}

.heading-div p {
    display: flex;
    margin-top: 10px;
    margin-right: 5px;
    letter-spacing: 1px;
    color: #97afd5;
    margin-bottom: 6px;
    font-family: 'Helvetica Neu', Helvetica, 'Segoe UI', Arial, sans-serif;
}

.heading {
    font-weight: 550;
    font-family: 'Helvetica Neu', Helvetica, 'Segoe UI', Arial, sans-serif;
    margin-bottom: 100px;
}

.timertext-top {
    font-family: 'Helvetica Neu', Helvetica, 'Segoe UI', Arial, sans-serif;
    font-size: 18px;
}

.btn-div {
    text-align: center;
}

.btn-div button {
    width: 105px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-right: 10px;
    background-color: #ffbd69;
    color: #97afd5;
}

.timer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: left;
    font-family: 'Helvetica Neu', Helvetica, 'Segoe UI', Arial, sans-serif;
        color: #97afd5;

    margin-bottom: -20px;
}

.b1 {
        color: #97afd5;

    font-family: 'Helvetica Neu', Helvetica, 'Segoe UI', Arial, sans-serif;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.b2 {
        color: #97afd5;

    font-weight: bold;
    font-family: 'Helvetica Neu', Helvetica, 'Segoe UI', Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.backArrow {
    margin-left: 10%;
    color: #27ade6;
}

@media screen and (max-width: 600px) {
    .text-container {
        display: inline-flexbox;
    }
    .b2 {
            color: #97afd5;

        font-size: 19px;
        font-weight: bold;
        font-family: 'Helvetica Neu', Helvetica, 'Segoe UI', Arial, sans-serif;
        margin-left: 5px;
        margin-right: 5px;
    }
    .b1 {
            color: #97afd5;

        font-size: 18px;
        font-weight: bold;
        margin-left: 5px;
        margin-right: 5px;
    }
    .heading-div p {
        display: block;
    }
}